* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;
}

header {
    background-color: #072870; 
    color: white; 
    padding: 40px; 
    text-align: center;
    img {
        float: left;
    }
}

section {
    padding: 40px 20px; 
    text-align: center;
}

.bg-light {
    background-color: #f4f4f4; 
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}